# ignore data directories
data/

# ignore wandb directory
wandb/

# ignore save artificats
*.pth
*.json
artifacts/*.pth
artifacts/*STEPS*.*

# ignore tmp folder
tmp/

# ignore the profiler traces
trace*.json

cifar10*.zip*
cifar10/